.Form {
  padding: 30px;
  max-width: 420px;
  margin: 0 auto;

  button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: lightsalmon;
  }
}

.Form__input {
  margin: 10px 0;
  span {
    padding: 0 10px;
  }
}

.Form__error {
  padding: 5px;
  background-color: #ff8787;
}
