@import "./mixins.scss";

.Game {
  color: #444444;
}

.Game_wrapper {
  text-align: center;
}

.Game__header {
  margin: 10px 0;
  text-align: center;
  font-size: 30px;
}

.Game__playButton {
  @include buttonStyle;
  display: inline-block;
  margin: 20px;
  width: 200px;
}
